.destinationContainer {
  display: flex;
  justify-content: center;
  height: 300px;
  border: 2px solid blue;
}

.destinationCard {
  margin: 5px;
  width: 150px;
  height: 100%;
  /* border: 2px solid blue; */
}

.destinationCard img {
  width: 100%;
  height: 200px;
  border-radius: 40%;
}
