.container {
  width: 70%;
  background-color: #fff;
  border-radius: 3%;
  padding: 25px;
  border: 2px solid red;
}

.header {
  display: flex;
}
.header .name {
  height: fit-content;
  display: flex;
  width: 100%;
  padding: 20px;
  border: 2px solid red;
}

.header .name .profile {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.header .name ul {
  position: relative;
  left: 14px;
  top: 5px;
}
.header .name ul li {
  list-style: none;
}

.name ul li:nth-child(1) {
  font-size: 18px;
  font-weight: bold;
}

.name ul li:nth-child(2) {
  font-size: 18px;
  color: black;
}

.header .name .status {
  width: 14px;
  height: 14px;
  position: relative;
  left: 14px;
  border-radius: 50%;
  background-color: green;
  top: 8px;
}

.header .img {
  width: 25px;
  height: 25px;
  position: relative;
  top: 5px;
}

.container p {
  margin-top: 25px;
  text-align: justify;
  line-height: 1.5;
  color: rgb(65, 65, 65);
}

.container .picture {
  display: flex;
  margin: auto;
  width: 100%;
  /* width: 380px; */
  height: 220px;
  border-radius: 2%;
}

.container .timestamp {
  font-size: 12px;
  color: rgb(145, 145, 145);
}

.container .btn {
  width: 100%;
  display: flex;
  border: 2px solid red;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.container button {
  width: 100px;
  padding: 5px;
  border: none;
}
.commentSection {
  display: flex;
  width: 100%;
}
.profileComment {
  height: fit-content;
  display: flex;
  width: 28px;
  padding: 20px;
  border: 2px solid red;
}
.commentSection .profileComment input {
  width: 100%;
}
