.aboutContainer {
  width: 100%;
  height: 100vh;
}
.aboutTitle {
  font-size: 20px;
}
.aboutHeader {
  display: flex;
}

.aboutImage {
  width: 75%;
  height: 50vh;

  border: 2px solid #1f5156;
}
.slog {
  font-size: 25px;
}

.aboutContainer p {
  font-size: 18px;
  margin-left: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.memorize {
  display: flex;

  align-items: center;

  overflow: auto;
}

.memorize .imgDisplay img {
  border: 2px solid #1f5156;
  width: 300px;
  height: 200px;
}
