.accountCard {
  height: 400px;
  /* border: 2px solid blue; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.account {
  margin-top: 20px;
  display: grid;
  place-items: center;
}

.accountCard img {
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.accountCard h1 {
  font-size: 26px;
  font-weight: bold;
}
