/* --------------------------------------ALL ACCOUNT COMPONENTS------------------------------------- */

/* SUBCOMPONENT HEADERS */
h3 {
    text-align: center;
    margin-top: 5px;
}

/* MAPPED ITEMS LIST - ALL "CARDS" */
.list {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-flow: wrap;
    justify-content: center;
}

/* INDIVIDAUL MAPPED ITEM "CARDS" */
.listItemCardHeader {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
    font-size: large ;
}

.listItemCardHeaderText {
    flex-direction: column;
}

.listItemCardHeader > img {
    height: 70px;
    width: 70px;
}

.listItemCard {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
    min-height: 500px;
    width: 400px;
    display: grid;
    justify-content: center;
    gap: 5px;
}

/* ie. "NO POSTS YET" */
.defaultContent {
    padding: 10px;
}


/* --------------------------------------MYPOSTS.JSX-------------------------------------- */

.postButtonContainer {
    display: flex;
    gap: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.postModsButtonContainer {
    display: flex;
    gap: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    justify-content: right;
}

/* Post Image Container */
.listItemCard > .postImg {
    display: grid;
    place-items: center;
    justify-content: center;
    margin: 3px;
    background-color: black;
    height: 300px;
    width: 350px;
    margin-bottom: 5px;
}

/* Post Image */
.listItemCard > .postImg img {
    max-height: 300px;
    max-width: 350px;
}

.editForm {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.editForm > input {
    height: fit-content;
}

.comments {
    display: grid; 
    grid-template-columns: 80% 20%;
}

.editCommentButtons {
    float: right;
    display: flex;
    gap: 5px;
}

/* --------------------------------------SETTINGS.JSX-------------------------------------- */

/* FORM LAYOUT */
.settingsBody {
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.settingsForm {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.settingsForm > input {
    margin-bottom: 5px;
    width: 500px;
    height:fit-content;
}

.buttonContainer {
    display: flex;
    justify-content: center; 
    margin-top: 5px;
}

button {
    width: fit-content;
    height: fit-content;
}  

.deleteSection {
    border: 2px solid red;
    padding: 5px;
}

/* DELETE ACCOUNT WARNING */
.deleteSection > .warning {
    text-align: center;
    color: red;
    margin-bottom: 10px;
    font-style: italic;
}

