.container {
  height: 100vh;
}

.friendsFilterContainer {
  display: block;
  justify-content: center;
  height: 500px;
  display: flex;
  flex-direction: column;
}
.friendsFilterContainer .friendFilterCard {
  overflow: auto;
  height: fit-content;
  margin: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
}

.friendsFilterContainer .friendFilterCard .profile {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.friendsFilterContainer .friendFilterCard ul {
  padding: 20px;
  left: 14px;
  top: 5px;
}

.friendsFilterContainer .friendFilterCard ul li {
  list-style: none;
  font-size: 16px;
  color: #1f5156;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.friendsFilterContainer .friendFilterCard ul li .btnFilter {
  border: none;
  float: right;
  font-size: 18px;
  background-color: #1f5156;
  color: #fff;
  width: 80px;
  height: 30px;
  border-radius: 10px;
}

/* ///////////////////////////////////////// */
.friendsFollowContainer {
  display: block;
  justify-content: center;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.friendsFollowContainer .friendFollowCard {
  overflow: auto;
  height: fit-content;
  margin: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
}

.friendsFollowContainer .friendFollowCard {
  overflow: auto;
  height: fit-content;
  margin: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
}
.friendsFollowContainer .friendFollowCard .profile {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.friendsFollowContainer .friendFollowCard ul {
  left: 14px;
  top: 5px;
}
.friendsFollowContainer .friendFollowCard ul li {
  font-size: 16px;
  color: #1f5156;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style: none;
}
