.OverviewContainer {
  display: grid;
  grid-template-columns: 30% 50% 20%;
}

/* .sidebar {
  width: 30%;
  height: 100vh;
  border: 2px solid red;
}

.mainContent {
  width: 50%;
  height: 100vh;

  border: 2px solid blue;
}

.friends {
  width: 20%;
  height: 100vh;

  border: 2px solid green;
} */
